body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(227, 225, 225);
  color: #333;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(58, 72, 227);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aliceblue;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 100%;
  margin: 0;
}

header p {
  margin-top: 10px;
  font-size: 20px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.post {
  background: rgba(255, 255, 255, 0.596);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 50px;
}

.post h2 {
  color: #0077cc;
  border-bottom: 2px solid #0077cc;
  padding-bottom: 4px;
}

ul {
  padding-left: 30px;
}

footer {
  background-color: rgb(58, 72, 227);
  color: white;
  text-align: center;
  padding: 10px;
  margin: auto;
}
